<a href="https://colab.research.google.com/github/sandeepatel1002/jupyternotebooks/blob/main/PythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# can use str in many ways
# single quote
# double quote
# triple quote
# \t , \n, \\, r"", f string

In [ ]:
# type conversion errors
# float to int
# int to float etc

In [ ]:
a = 12
b = 3
c = int(a/b)
c
# for i in range(1,a/b):
#   print(i)

4

In [ ]:
city = 'indore'
loc = city.index('d')
print(loc)

2

In [ ]:
city1 = 'indodre'
loc1 = [index for index,char in enumerate(city1) if char == 'd']
print(loc1)

[2, 4]

In [ ]:
name = input('Enter your name ')
age = int(input('Enter your age '))
print(name+" you are "+ str(age)+ " years old.")

Enter your name su
Enter your age 45
su you are 45 years old.

In [ ]:
name = input('Enter your name ')
age = int(input('Enter your age '))
print(name," you are ", age, " years old.")

In [ ]:
name = input('Enter your name ')
age = float(input('Enter your age '))
print(f"{name} you are {age:.0f} years old.")

Enter your name su
Enter your age 43.4444
su you are 43 years old.

In [ ]:
print('+',('-'*10),'+')
print('|',(' '*10),'|')
print('|',(' '*10),'|')
print('+',('-'*10),'+')

+ ---------- +
|            |
|            |
+ ---------- +

In [ ]:
for i in range(1,7):
  print(i,end=",")

1,2,3,4,5,6,

In [ ]:
print('india always goes through playoffs but \nloose in knockouts')

india always goes through playoffs but
loose in knockouts